<?php if ($sync) { ?>
    <p style="color: green">sync - ok</p>
<?php } ?>
<a href="application/sync">
    <input type="button" value="sync" />
</a>
<br />
<br />
<table width="500">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    <?php foreach ($members as $member) { ?>
        <tr>
            <td><?php echo $member->id ?></td>
            <td><?php echo $member->name ?></td>
            <td><?php echo $member->email ?></td>
        </tr>
    <?php } ?>
    <?php if (!$members->count()) { ?>
        <tr>
            <td colspan="3">Result is empty</td>
        </tr>
    <?php } ?>
</table>